<!DOCTYPE html>
<html lang="en">

<head>
    <title>QuizSkim</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">QuizSkim</h3>
        </div>

        <div class="jumbotron">
            <h1>Crate your own QuizSkim</h1>
            <p class="lead"></p>
            <form action="." method="POST">
              PDF Link: <input type="text" name="pdfLink"><br>
              Pages (separated by commas): <input type="text" name="pages"><br>
              <a href="{{ url_for('generate') }}"><input type="submit"  value="Skim!" class="btn btn-lg btn-success"></a>
            </form>

        </div>



    </div>
</body>

</html>