<!DOCTYPE html>
<html lang="en">

<head>
    <title>QuizSkim</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <h1>Your Set</h1>
    <a href="/auth1">Create Set on Quizlet</a>
    <ul>
    {% block content %}

	    {% for entry in entries.find() %}
	    	<li>
	      <p><b>{{ entry.term }}</b></p>
	      <p>
	      	{% for definition in entry.definition %}
	        	{{ definition }}
	      	{% endfor %}
	      </p>
	      </li>
	    {% endfor %}
		{% endblock %}
		</ul>
</body>

</html>